#a{
    background-color:green;
    padding:10px;
    border-radius:1px;
    margin:0px;
}
#button{
   background-color:green;
    padding:10px;
    border-radius:1px;
    margin:0px;
    
}
#input{
    background-color:green;
    padding:10px;
    border-radius:1px;
    margin:0px;
}